<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--아래 경로는 mybatis repository 파일의 위츼를 명시하는 것-->
<mapper namespace="com.example.demo.Repository.MemberRepository">
    <insert id="save">
        insert into member(name, email, password) values(#{name}, #{email}, #{password})
    </insert>
    <select id="findAll" resultType="com.example.demo.domain.Member">
        select * from member;
    </select>

    <select id="findById" resultType="com.example.demo.domain.Member" parameterType="Long">
        select * from member where id = #{id};
    </select>
</mapper>